body, h1{
    margin: 0;
}
.header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    background-color: maroon;
}
h1{
    /* text-align: center; */
    display: inline-block
}
.menu{
    height: 40px;
    background-color: orangered;
}
.sidebar{
    width: 20%;
    background-color: orchid;
    height: 300px;
    float: left;
}
.aside{
    background-color: palevioletred;
    height: 200px;
    width: 20%;
    float: right;
}
.main{
    background-color: rebeccapurple;
    height: 100px;
    width: 60%;
    margin: 0 auto;
   
}
.footer{
    background-color: darkmagenta;
    height: 100px;
    clear: left;
}

.button{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    background-color: #0db5e4;
    width: 100px;
    height: 30px;
    display: block;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0px 1px 4px 0px lightblue;
    margin: 0 auto;
}

.button:hover{
    background-color: #397485;
}